.login-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--text-title-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.back-to-home {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    padding: 10px 20px;
    background: var(--text-color);
    color: var(--primary-color);
    border-radius: 5px;
    transition: 150ms all;
}

.back-to-home:active {
    transform: scale(0.9);
}

.login-container .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    height: fit-content;
    width: 325px;
    background-color: var(--primary-color);
    border-radius: 20px;
}

.login-container .wrapper .title {
    margin-bottom: 10px;
    color: var(--text-title-color);
    font-weight: bold;
    font-size: 20px;
    background-color: var(--primary-color);
}

.login-container .wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--primary-color);
    margin-top: 5px;
}

.login-container .wrapper form input {
    padding: 0.75rem 1.25rem;
    border: 2px solid rgb(127, 127, 127);
    border-radius: 12px;
    background-color: var(--primary-color);
}

.login-container .wrapper form input:focus {
    outline: none;
    border: 2px solid var(--text-color);
}

.login-container .wrapper .submit-btn {
    outline: none;
    border: 1px solid transparent;
    padding: 0.40rem 1.5rem;
    border-radius: 20px;
    background-color: var(--btn-color);
    color: var(--primary-color);
    cursor: pointer;
    margin: 6px 0 3px 0;
    transition: 150ms all;
}

.login-container .wrapper .submit-btn:hover {
    background-color: var(--primary-color);
    color: var(--btn-color);
    border: 1px solid var(--btn-color);
}

.other-links {
    display: flex;
    gap: 1rem;
    text-align: center;
}

.login-container .wrapper a {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--primary-color);
    font-size: 11px;
}

.login-container .wrapper a p {
    width: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 0.2rem;
    margin: 0 auto;
    text-align: center;
    background-color: var(--primary-color);
    font-size: 14px;
}

.login-container .wrapper a p:hover {
    color: var(--btn-color);
}