.check-out-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-out-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.check-out-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 375px;
}

.check-out-left-title {
    font-size: 22px;
}

.check-out-address-data {
    margin-left: 8px;
}

.check-out-info {
    display: flex;
    align-items: center;
    gap: 4px;
    margin: 3rem 0;
    font-size: 18px;
}

.check-out-info > h3 {
    text-transform: capitalize;
    margin: 0;
    font-size: 18px;
}

.check-out-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 375px;
    width: fit-content;
}

.check-out-right-title {
    font-size: 22px;
}

.check-out-products {
    display: flex;
    gap: 10px;
    margin: 0.5rem 0;
    width: 250px;
    position: relative;
}

.check-out-price-and-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.check-out-product-title {
    text-transform: capitalize;
    font-size: 15px;
    color: #777;
    margin-bottom: 5px;
}

.check-out-price > span {
    font-size: 15px;
}

.check-out-image {
    height: 80px;
    object-fit: cover;
}

.check-out-total-price-msg {
    display: flex;
    align-items: center;
    margin-top: 12px;
    gap: 6px;
    font-size: 18px;
}

.check-out-total-price {
    color: #444;
    font-size: 18px;
    font-weight: bold;
}

.check-out-order-btn {
    text-decoration: none;
    text-align: center;
    outline: none;
    font-size: 18px;
    border: 1px solid transparent;
    background: var(--btn-color);
    color: aliceblue;
    padding: 0.7rem 2rem;
    border-radius: 20px;
    cursor: pointer;
}

.check-out-order-btn:hover {
    background-color: aliceblue;
    color: var(--btn-color);
    border-color: var(--btn-color);
}

.payment-methods {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.cod-method {
    display: flex;
    gap: 5px;
}

.cod-method > input {
    cursor: pointer;
}

.paypal-method {
    display: flex;
    gap: 5px;
}

.paypal-icon {
    font-size: 20px;
    cursor: pointer;
}

.g-cash-method {
    display: flex;
    gap: 5px;
    height: 30px;
    width: 30px;
    object-fit: cover;
    cursor: pointer;
}

.g-cash-method img {
    height: 100%;
    width: auto;
}

@media screen and (max-width: 768px) {
    .check-out-container {
        height: fit-content;
    }

    .check-out-wrapper {
        height: fit-content;
        flex-direction: column;
        gap: 0;
    }

    .check-out-left {
        height: fit-content;
        padding: 2rem;
    }
}
